---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/family/debian-12?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#image","id":"1808140243525760693","creationTimestamp":"2026-04-13T12:47:38.346-07:00","name":"debian-12-bookworm-v20260413","description":"Debian,
      Debian GNU/Linux, 12 (bookworm), amd64 built on 20260413","sourceType":"RAW","rawDisk":{"source":"","containerType":"TAR"},"status":"READY","archiveSizeBytes":"2400854784","diskSizeGb":"10","licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-12-bookworm"],"family":"debian-12","selfLink":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-12-bookworm-v20260413","labels":{"public-image":"true"},"labelFingerprint":"iNBmVNCFF9w=","guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"},{"type":"SEV_LIVE_MIGRATABLE_V2"}],"licenseCodes":["2147286739765738111"],"storageLocations":["us","eu","asia"],"rolloutOverride":{"locationRolloutPolicies":{"zones/africa-south1-a":"2026-04-14T02:47:35Z","zones/africa-south1-b":"2026-04-15T22:47:35Z","zones/africa-south1-c":"2026-04-19T08:47:35Z","zones/asia-east1-a":"2026-04-14T09:47:35Z","zones/asia-east1-b":"2026-04-16T05:47:35Z","zones/asia-east1-c":"2026-04-19T15:47:35Z","zones/asia-east2-a":"2026-04-15T00:47:35Z","zones/asia-east2-b":"2026-04-16T20:47:35Z","zones/asia-east2-c":"2026-04-18T07:47:35Z","zones/asia-northeast1-a":"2026-04-14T01:47:35Z","zones/asia-northeast1-b":"2026-04-15T21:47:3[...]
- request:
    body: |
      {"description":"Tag key for image acceptance tests","parent":"projects/project-7d9b6b6d-b532-49f1-b60","shortName":"image-tag-rvjncqn1wp"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudresourcemanager.googleapis.com/v3/tagKeys?alt=json
    method: POST
  response:
    body: |
      {
        "name": "operations/rctk.global.6691984025519797630",
        "metadata": {
          "@type": "type.googleapis.com/google.cloud.resourcemanager.v3.CreateTagKeyMetadata"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudresourcemanager.googleapis.com/v3/operations/rctk.global.6691984025519797630?alt=json
    method: GET
  response:
    body: |
      {
        "name": "operations/rctk.global.6691984025519797630",
        "metadata": {
          "@type": "type.googleapis.com/google.cloud.resourcemanager.v3.CreateTagKeyMetadata"
        },
        "done": true,
        "response": {
          "@type": "type.googleapis.com/google.cloud.resourcemanager.v3.TagKey",
          "name": "tagKeys/281483539551707",
          "parent": "projects/58309184865",
          "shortName": "image-tag-rvjncqn1wp",
          "namespacedName": "project-7d9b6b6d-b532-49f1-b60/image-tag-rvjncqn1wp",
          "description": "Tag key for image acceptance tests",
          "createTime": "2026-04-15T11:38:33.011346Z",
          "updateTime": "2026-04-15T11:38:33.011346Z",
          "etag": "/R3fKhYAhFmyLWFG573PWA=="
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudresourcemanager.googleapis.com/v3/tagKeys/281483539551707?alt=json
    method: GET
  response:
    body: |
      {
        "name": "tagKeys/281483539551707",
        "parent": "projects/58309184865",
        "shortName": "image-tag-rvjncqn1wp",
        "namespacedName": "project-7d9b6b6d-b532-49f1-b60/image-tag-rvjncqn1wp",
        "description": "Tag key for image acceptance tests",
        "createTime": "2026-04-15T11:38:33.011346Z",
        "updateTime": "2026-04-15T11:38:33.011346Z",
        "etag": "/R3fKhYAhFmyLWFG573PWA=="
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"First tag value for image acceptance tests","parent":"tagKeys/281483539551707","shortName":"value-one-rvjncqn1wp"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudresourcemanager.googleapis.com/v3/tagValues?alt=json
    method: POST
  response:
    body: |
      {
        "name": "operations/rctv.global.7858825448243154966",
        "metadata": {
          "@type": "type.googleapis.com/google.cloud.resourcemanager.v3.CreateTagValueMetadata"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudresourcemanager.googleapis.com/v3/operations/rctv.global.7858825448243154966?alt=json
    method: GET
  response:
    body: |
      {
        "name": "operations/rctv.global.7858825448243154966",
        "metadata": {
          "@type": "type.googleapis.com/google.cloud.resourcemanager.v3.CreateTagValueMetadata"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudresourcemanager.googleapis.com/v3/tagValues/281484123941379?alt=json
    method: GET
  response:
    body: |
      {
        "name": "tagValues/281484123941379",
        "parent": "tagKeys/281483539551707",
        "shortName": "value-one-rvjncqn1wp",
        "namespacedName": "project-7d9b6b6d-b532-49f1-b60/image-tag-rvjncqn1wp/value-one-rvjncqn1wp",
        "description": "First tag value for image acceptance tests",
        "createTime": "2026-04-15T11:38:35.641943Z",
        "updateTime": "2026-04-15T11:38:35.641943Z",
        "etag": "6gv4gVIfPcI2g9YlbjSqHA=="
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"labels":{"goog-terraform-provisioned":"true"},"name":"tf-test-image-rmtrvjncqn1wp","params":{"resourceManagerTags":{"tagKeys/281483539551707":"tagValues/281484123941379"}},"sourceImage":"projects/debian-cloud/global/images/debian-12-bookworm-v20260413"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/project-7d9b6b6d-b532-49f1-b60/global/images?alt=json
    method: POST
  response:
    body: |
      {
        "kind": "compute#operation",
        "id": "3155683720090011176",
        "name": "operation-1776253127052-64f7e28ab4c2e-e902b74c-23040d66",
        "operationType": "insert",
        "targetLink": "https://www.googleapis.com/compute/beta/projects/project-7d9b6b6d-b532-49f1-b60/global/images/tf-test-image-rmtrvjncqn1wp",
        "targetId": "7496525050677478952",
        "status": "RUNNING",
        "user": "tsuprik.ilia@gmail.com",
        "progress": 0,
        "insertTime": "2026-04-15T04:38:47.368-07:00",
        "startTime": "2026-04-15T04:38:47.373-07:00",
        "selfLink": "https://www.googleapis.com/compute/beta/projects/project-7d9b6b6d-b532-49f1-b60/global/operations/operation-1776253127052-64f7e28ab4c2e-e902b74c-23040d66"
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/project-7d9b6b6d-b532-49f1-b60/global/operations/operation-1776253127052-64f7e28ab4c2e-e902b74c-23040d66?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#operation","id":"3155683720090011176","name":"operation-1776253127052-64f7e28ab4c2e-e902b74c-23040d66","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/project-7d9b6b6d-b532-49f1-b60/global/images/tf-test-image-rmtrvjncqn1wp","targetId":"7496525050677478952","status":"RUNNING","user":"tsuprik.ilia@gmail.com","progress":0,"insertTime":"2026-04-15T04:38:47.368-07:00","startTime":"2026-04-15T04:38:47.373-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/project-7d9b6b6d-b532-49f1-b60/global/operations/operation-1776253127052-64f7e28ab4c2e-e902b74c-23040d66"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - flOcPMcN9xxQ4HP-SIZkwM2How0=/7KExDlk7ALKwR0hlgHfFDM6ZxxE=
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://compute.googleapis.com/compute/beta/projects/project-7d9b6b6d-b532-49f1-b60/global/operations/operation-1776253127052-64f7e28ab4c2e-e902b74c-23040d66?alt=json&prettyPrint=false
    method: GET
  response:
    body: '{"kind":"compute#operation","id":"3155683720090011176","name":"operation-1776253127052-64f7e28ab4c2e-e902b74c-23040d66","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/project-7d9b6b6d-b532-49f1-b60/global/images/tf-test-image-rmtrvjncqn1wp","targetId":"7496525050677478952","status":"DONE","user":"tsuprik.ilia@gmail.com","progress":100,"insertTime":"2026-04-15T04:38:47.368-07:00","startTime":"2026-04-15T04:38:47.373-07:00","endTime":"2026-04-15T04:40:19.218-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/project-7d9b6b6d-b532-49f1-b60/global/operations/operation-1776253127052-64f7e28ab4c2e-e902b74c-23040d66"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - AzEvKozQw6BEFfqn77pl3ewDuSs=/0Zkey81zE3YnSu2roX2TeHJGbEo=
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/project-7d9b6b6d-b532-49f1-b60/global/images/tf-test-image-rmtrvjncqn1wp?alt=json
    method: GET
  response:
    body: |
      {
        "kind": "compute#image",
        "id": "7496525050677478952",
        "creationTimestamp": "2026-04-15T04:38:47.372-07:00",
        "name": "tf-test-image-rmtrvjncqn1wp",
        "sourceType": "RAW",
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudresourcemanager.googleapis.com/v3/tagBindings/?alt=json&pageSize=300&parent=%2F%2Fcompute.googleapis.com%2Fprojects%2Fproject-7d9b6b6d-b532-49f1-b60%2Fglobal%2Fimages%2F7496525050677478952
    method: GET
  response:
    body: |
      {
        "tagBindings": [
          {
            "name": "tagBindings/%2F%2Fcompute.googleapis.com%2Fprojects%2F58309184865%2Fglobal%2Fimages%2F7496525050677478952/tagValues/281484123941379",
            "parent": "//compute.googleapis.com/projects/58309184865/global/images/7496525050677478952",
            "tagValue": "tagValues/281484123941379",
            "tagValueNamespacedName": "project-7d9b6b6d-b532-49f1-b60/image-tag-rvjncqn1wp/value-one-rvjncqn1wp"
          }
        ]
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudresourcemanager.googleapis.com/v3/operations/rdtv.global.6424111783844909584?alt=json
    method: GET
  response:
    body: |
      {
        "name": "operations/rdtv.global.6424111783844909584",
        "metadata": {
          "@type": "type.googleapis.com/google.cloud.resourcemanager.v3.DeleteTagValueMetadata"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://cloudresourcemanager.googleapis.com/v3/operations/rdtk.global.7938319248170152064?alt=json
    method: GET
  response:
    body: |
      {
        "name": "operations/rdtk.global.7938319248170152064",
        "metadata": {
          "@type": "type.googleapis.com/google.cloud.resourcemanager.v3.DeleteTagKeyMetadata"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://compute.googleapis.com/compute/beta/projects/project-7d9b6b6d-b532-49f1-b60/global/images/tf-test-image-rmtrvjncqn1wp?alt=json
    method: GET
  response:
    body: |
      {
        "error": {
          "code": 404,
          "message": "The resource 'projects/project-7d9b6b6d-b532-49f1-b60/global/images/tf-test-image-rmtrvjncqn1wp' was not found",
          "errors": [
            {
              "message": "The resource 'projects/project-7d9b6b6d-b532-49f1-b60/global/images/tf-test-image-rmtrvjncqn1wp' was not found",
              "domain": "global",
              "reason": "notFound"
            }
          ]
        }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
